


<% content_for :title, "Modifica profilo" %>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container main-content">
      <div class="columns is-desktop is-vcentered">
        <div class="column"></div>
        <div class="column is-6">
          <div class="box">
            <p class="title is-4"><strong>Modifica profilo</strong></p>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <p><small><strong>NOME</strong></small></p>
                <%= f.text_field :name, autofocus: true, class: "input is-medium", style: "border-radius: 15px;" %>
              </div>

              <div class="field">
                <p><small><strong>EMAIL</strong></small></p>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium", style: "border-radius: 15px;" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <p><small><strong>PASSWORD</strong></small>&nbsp;<i>(lasciala bianca se non vuoi cambiarla)</i></p>
                <%= f.password_field :password, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> caratteri minimo</em>
                <% end %>
              </div>

              <div class="field">
                <p><small><strong>CONFERMA PASSWORD</strong></small></p>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;" %>
              </div>

              <div class="field">
                <p><small><strong>PASSWORD</strong></small>&nbsp;<i>(abbiamo bisogno della tua password per confermare i cambiamenti)</i></p>
                <%= f.password_field :current_password, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>

              <div class="field">
                <%= f.label :avatar do %>
                  <%= f.file_field :avatar %>
                <% end %>
              </div>

              <div class="actions">
                <%= f.submit "Update", class: "button is-medium is-rounded submit-action is-fullwidth" %>
              </div>
            <% end %>
            <br />
            <p><small><strong>CANCELLA ACCOUNT</strong></small></p>
            <br />
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Sei sicuro?" }, method: :delete, class: "button is-medium is-rounded submit-action is-fullwidth" %>
            <br />

            <%= link_to "Indietro", :back %>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>
