<% content_for :title, "Sign up" %>

<div id="signup-page">

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container main-content">
      <div class="level is-vcentered">
        <div class="level-item">
          <div class="box">
            <p class="title is-4"><strong>Sign up</strong></p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <%= devise_error_messages! %>

              <div class="field">
                <p><small><strong>NOME</strong></small></p>
                <%= f.text_field :name, autofocus: true, class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>

              <div class="field">
                <p><small><strong>EMAIL</strong></small></p>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>

              <div class="field">
                <p><small><strong>PASSWORD</strong></small></p>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>

              <div class="field">
                <p><small><strong>CONFERMA PASSWORD</strong></small></p>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>

              <div class="field">
                <p><small><strong>NEWSLETTER</strong></small></p>
                <label class="checkbox">
                  <%= f.check_box :news %>
                  Accetto di ricevere email da BRAIN_STEAM.
                </label>
              </div>

              <br>

              <div class="actions">
                <%= f.submit "Sign up", class: "button is-medium is-rounded submit-action is-fullwidth"  %>
              </div>
            <% end %>
            <br />
            <div id="errorMessageContainer" hidden="true">
              <article class="message is-danger">
                <div class="message-header">
                  <p>Risolvi i seguenti errori per continuare:</p>
                  <button class="delete" aria-label="delete" id="btnCloseErrorPanel"></button>
                </div>
                <div class="message-body" id="errorDiv">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>,
                  tempus
                  quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
                  diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
                  Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a
                  neque.
                  Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </div>
              </article>

            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $("#new_user").on('submit', function () {
      var pwd = $("#user_password").val();
      var rePwd = $('#user_password_confirmation').val();
      if(pwd != rePwd){
          $("#user_password").addClass("errorPassword");
          $('#user_password_confirmation').addClass("errorPassword");
          $("#errorMessageContainer").removeAttr('hidden');
          $('#errorDiv').html('<ul><li>Le due password non coincidono.</li></ul>');
          //alert("Le password non coincidono")
          return false;
      }else{
          $("#user_password").removeClass("errorPassword");
          $('#user_password_confirmation').removeClass("errorPassword");
          return true;
      }
  })


  $("#user_password_confirmation").on('blur', function () {
      var pwd = $("#user_password").val();
      var rePwd = $('#user_password_confirmation').val();
      if(pwd != rePwd){
          $('#user_password_confirmation').addClass("errorPassword");

      }else{
          $('#user_password_confirmation').removeClass("errorPassword");
      }
  })

  $('#btnCloseErrorPanel').on('click', function () {
      $("#errorMessageContainer").attr('hidden', 'true');
      $('#errorDiv').html('');
  })
</script>


<script type="text/javascript">
  $("#closeButtonErrorDevise").on('click', function () {
      $("#errorsDevise").fadeOut();
  })

  setTimeout(function () {
      $("#errorsDevise").fadeOut();
  }, 5000)
</script>

</div>