<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <h1>Hey, <%= @current_user.name %> ti ha contattato per una ripetizione!</h1>
      <br/>
      <ul>
        <li>His email: <%= @rep.user.email %></li>
        <li>Course name is: <%= @rep.course.name%></li>
        <li>The content is: <%= @content %>.</li>
      </ul>
      <br/>
      <p>
        To watch your rep, please visit the page at: <%= link_to "click here", rep_url(@rep)%>
      </p>
      <p>Thanks for joining and have a great day!</p>
    </body>
</html>