<% content_for :title, "Dettagli tesi" %>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="margin-top: 5%;font-family: Domine">
        <%= @thesis.title %>
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container card" style="background: white; text-align: left">
  <fieldset>
    <legend style="margin-left: 10px;">Descrizione</legend>
    <div style="margin: 10px;">
      <%= @thesis.content %>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend style="margin-left: 10px;">Professore collegato</legend>
    <div style="margin: 10px;">
      <a href="<%= @thesis.teacher.link_cv %>"> <%= @thesis.teacher.name %><%= @thesis.teacher.surname %></a>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend style="margin-left: 10px;">Tag collegati</legend>
    <div style="margin: 10px;">
      <% @thesis.tags.each do |t| %>
        <span class="tag is-link"><%= t.name %></span>&nbsp;
      <% end %>
    </div>
  </fieldset>

</div>


