

<% content_for :title, "Dashboard" %>
<div>
  <br />
  <br />
  <br />
  <div class="columns">
    <div class="column">
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'prof')" id="btnProf">Professori</button>
        <button class="tablinks" onclick="openCity(event, 'thesis')">Proposte di tesi</button>
        <button class="tablinks" onclick="openCity(event, 'tags')">Tag</button>
        <button class="tablinks" onclick="openCity(event, 'degree')">Corsi di laurea</button>
        <button class="tablinks" onclick="openCity(event, 'user')">Utenti</button>
      </div>

      <!-- Tab content -->
      <div id="prof" class="tabcontent">
        <h4>Qui puoi inserire e gestire i professori presenti su Brain_Steam.</h4>
        <br />
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <%= react_component 'MainTeacher' %>
          </div>
          <div class="column"></div>
        </div>
      </div>

      <div id="thesis" class="tabcontent">
        <br>
        <div class="columns">
          <div class="column is-10">
            <h4>Qui puoi inserire e gestire le tesi collegate ai Professori su Brain_Steam.</h4>
          </div>
          <div class="column">
            <button class="button is-rounded is-info" id="showModalTesi"><i class="fa fa-plus"></i>&nbsp;Nuova tesi</button>
          </div>
        </div>

        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <br />
            <%= react_component 'MainThesis' %>
          </div>
          <div class="column" id="contentModalThesis"></div>
        </div>
      </div>

      <div id="tags" class="tabcontent">
        <h4>Qui puoi inserire e gestire i tag che classificano gli oggetti su Brain_Steam.</h4>
        <br />
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <%= react_component 'MainTag' %>
          </div>
          <div class="column"></div>
        </div>
      </div>

      <div id="degree" class="tabcontent">
        <h4>Qui puoi inserire e gestire i corsi di laurea presenti su Brain_Steam.</h4>
        <br />
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <%= react_component 'MainDegreeCourses' %>
          </div>
          <div class="column"></div>
        </div>
      </div>

      <div id="user" class="tabcontent">
        <h4>Qui puoi gestire gli utenti iscritti su Brain_Steam.</h4>
        <br/>
        <div class="columns">
          <div class="column"></div>
          <div class="column is-8">
            <%= react_component 'MainUsers' %>
          </div>
          <div class="column"></div>
        </div>
      </div>


    </div>
  </div>









  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>


</div>



<script type="text/javascript">
    $("#showModalTesi").click(function () {
        $("#modalTesi").addClass("is-active");
    });

    //$(".closeModalTesi").click(function () {
    //    $("#modalTesi").removeClass("is-active");
    //});
</script>


<!--<div class="dropdown dropdownDegree" id="1" onclick="toggleClass(1)">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Dropdown button</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        Dropdown item
      </a>
      <a class="dropdown-item">
        Other dropdown item
      </a>
      <a href="#" class="dropdown-item is-active">
        Active dropdown item
      </a>
      <a href="#" class="dropdown-item">
        Other dropdown item
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        With a divider
      </a>
    </div>
  </div>
</div>-->

<!--<div class="dropdown dropdownDegree" id="2" onclick="toggleClass(2)">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Dropdown button</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        Dropdown item
      </a>
      <a class="dropdown-item">
        Other dropdown item
      </a>
      <a href="#" class="dropdown-item is-active">
        Active dropdown item
      </a>
      <a href="#" class="dropdown-item">
        Other dropdown item
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        With a divider
      </a>
    </div>
  </div>
</div>



<script type="text/javascript">
    //var dropdown = document.querySelectorAll('.dropdown');
    //dropdown.addEventListener('click', function (event) {
    //    event.stopPropagation();
    //    dropdown.classList.toggle('is-active');
    //});

    function toggleClass(id){
        //chiudo gli altri
        var otherDropdowns = document.querySelectorAll('.dropdownDegree');
        for(var i = 0; i < otherDropdowns.length; i++){
            if(otherDropdowns[i].id != id){
                otherDropdowns[i].classList.remove('is-active');
            }
        }
        //e apro
        var dropdown = document.getElementById(id);
        dropdown.classList.toggle('is-active');
    }
</script>-->


<!--<div class="tabs is-centered is-boxed">
  <ul>
    <li id="tab1" class="is-active temp">
      <a onclick="changeTab(1)">
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Pictures</span>
      </a>
        <div id="divTab1">Contentuto 1</div>
    </li>
    <li id="tab2" class="temp">
      <a onclick="changeTab(2)">
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span>Music</span>
      </a>
        <div id="divTab2" hidden="true">Contentuto 2</div>
    </li>
    <li id="tab3" class="temp">
      <a onclick="changeTab(3)">
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span>Videos</span>
      </a>
        <div id="divTab3" hidden="true">Contentuto 3</div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  function changeTab(id){
      var otherTab =  document.querySelectorAll('.temp');
      for (var i = 0; i < otherTab.length; i++) {
          if (otherTab[i].id != 'tab' + id) {
              otherTab[i].classList.remove('is-active');
              var contentTab = document.getElementById('divTab' + otherTab[i].id.charAt(3));
              contentTab.setAttribute('hidden', 'true');
          }
      }
      var selectedTab = document.getElementById('tab' + id);
      selectedTab.classList.add('is-active');
      var divTab = document.getElementById('divTab' + id);
      divTab.removeAttribute('hidden')
  }
</script>-->

<!--modal-->

<!--<button class="button" id="showModal">Show</button>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $("#showModal").click(function () {
        $(".modal").addClass("is-active");
    });

    $(".delete").click(function () {
        $(".modal").removeClass("is-active");
    });
</script>-->

<!-- Tab links -->


<br>
<br>
<br>

<style>
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    #border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
<script type="text/javascript">
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("btnProf").click()
</script>

