


<% content_for :title, "Welcome" %>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container main-content">
      <div class="columns is-desktop is-vcentered">
        <div class="column is-two-thirds">
          <div class="main-text is-hidden-mobile">
            <p class="title is-2">
              BRAIN_STEAM
            </p>
            <p class="subtitle is-5" style="line-height: 2;">
              Ti manca Kunerango? non hai pi&#250; nessun riferimento su cosa e come studiare? </br>Su BRAIN_STEAM troverai gruppi di tuoi pari che ti possono aiutare e fornire tutto il necessario.</br> Scarica il materiale didattico per i corsi che segui,</br> fai domande nella chat, trova persone dispote darti ripetizioni e molto altro.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <p class="title is-4"><strong>Login</strong></p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <p><small><strong>EMAIL</strong></small></p>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>
              <div class="field">
                <p><small><strong>PASSWORD</strong></small></p>
                <%= f.password_field :password, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>&nbsp;Ricordami
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in", class: "button is-medium is-rounded submit-action is-fullwidth" %>
              </div>
            <% end %>
            <br />
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="footer1" id="footer">
  <p style="margin: 20px;">Questo sito utilizza soltanto cookie tecnici. Non utilizziamo nessun cookie di terze parti. Effettuando il login accetti l'utilizzo dei cookies.</p>
  <span class="close" onclick="CloseCookie();"><i class="fa fa-times" aria-hidden="true" style="color: white;"></i></span>
</div>

<script>
    function CloseCookie(){
        $('#footer').remove();
    }
</script>

<style>
  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(186, 186, 197);
    color: white;
    text-align: center;
    z-index: 10;
    height: 70px;
    opacity: 0.7;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 10px 10px;
  }

  @media only screen and (max-width: 600px) {
    .box {
      height: 600px;
    }
    .footer1 {
      height: 100px;
    }
  }
</style>


