<% content_for :title, "Welcome" %>

<div id="login-page">
<section class="hero is-fullheight" >
  <div class="hero-body">
    <div class="container main-content">
      <div class="columns is-desktop is-vcentered">

        <div class="column is-two-thirds">
          <div class="main-text is-hidden-mobile" id="site-description">
            <p class="title is-3">
              BRAIN_STEAM è un social network per gestire gruppi di studio e condividere materiale didattico.
            </p>
            <p class="subtitle is-5" >
              Segui corsi, fai domande nella chat, trova persone disposte a darti ripetizioni e molto altro.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <p class="title is-4"><strong>Login</strong></p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <p><small><strong>EMAIL</strong></small></p>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>
              <div class="field">
                <p><small><strong>PASSWORD</strong></small></p>
                <%= f.password_field :password, autocomplete: "off", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>&nbsp;Ricordami
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in", class: "button is-medium is-rounded submit-action is-fullwidth" %>
              </div>
            <% end %>
            <br />
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="footer1" id="footer">
  <p>Questo sito utilizza soltanto cookie tecnici. Non utilizziamo nessun cookie di terze parti. Effettuando il login accetti l'utilizzo dei cookies.</p>
  <span class="close" onclick="CloseCookie();"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>

<script>
    function CloseCookie(){
        $('#footer').remove();
    }
</script>


</div>
