
<body>
  <br/>
  <div align="center">
    <h2>Tutti i corsi disponibili</h2>
  </div>

  <%= paginate @tcs %>

  <% @tcs.each do |tc| %>
    <ul>
      <li> id tc: <%= tc.id%> </li>
      <li> data: <%= tc.data%> </li>
      <li> nome corso: <%= tc.course.name%> </li>
      <li> id corso: <%= tc.course.id%> </li>
      <li> teacher name: <%= tc.teacher.name%> </li>
      <li> teacher surname: <%= tc.teacher.surname%> </li>
    </ul>
    <br />
  <% end %>

  <%= react_component 'Main'%>

</body>



