<html>


<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>

<br/>
<div align="center">
  <h2>Advance</h2>
</div>


<%= link_to "Advanced Search", searchCourses_path %>

<div class="row">
  <%= form_tag(allcourses_path, :method => "get", id: "search-form", class:"search-form ") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], placeholder:"Search courses by name", class:'form-control gap' %>
      <%= text_field_tag :search, params[:search], placeholder:"Search courses by year", class:'form-control gap' %>
      <%= text_field_tag :search, params[:search], placeholder:"Search courses by teacher's name", class:'form-control gap' %>
      <%= text_field_tag :search, params[:search], placeholder:"Search courses by module", class:'form-control gap' %>
      <div id="buttonSearch">
        <%= submit_tag "Search courses", :name => nil, class:'btn btn-primary button-search'%>
      </div>
    </div>
  <%end%>
</div>

<div class="row">
  <%= react_component 'IndexCourses', last_page: @last_page%>
</div>



</body>



</html>
