<%= javascript_pack_tag "application" %>

<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="title is-1 stuck">Posts</h1>

  <div class="chat-lane">
  
    <% @posts.each do |post| %>

        <!--<td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->


      <article class="media chat-post">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              <%= post.messaggio %>
            </p>


            <div>
              <% post.allegati.each do |allegato| %>
                <%if allegato.variable? %>
                  <div class="box allegati-chat"><%= link_to image_tag(allegato.variant(resize: "100x100")), allegato %></div>
                <% elsif allegato.previewable? %>
                  <div class="box allegati-chat"><%= link_to image_tag(allegato.preview(resize: "100x100")), 
                  rails_blob_path(allegato, disposition: :attachement) %></div>
                <% elsif allegato.image? %>
                  <div class="box allegati-chat"><%= link_to image_tag(allegato, width: 100), allegato %></div>
                <% else %>
                  <div class="box allegati-chat"><%= link_to allegato.filename, 
                  rails_blob_path(allegato, disposition: :attachement) %></div>
                <% end %>
              <% end %>
            </div>

          </div>

          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete"><%= link_to 'Destroy', post, method: :delete %></button>
        </div>
      </article>
    <% end %>
  </div>

  <br>

  <div class="chat-input is-centered columns">
    <div class="column field has-addons">
      <p class="control">
        <a class="button"><span class="fas fa-plus"></span></a>
      </p>
      <p class="control">
        <input class="input" type="text" placeholder="Messaggio">
      </p>
      <p class="control">
        <a class="button is-primary">
          Invia
        </a>
      </p>
    </div>
  </div>

  <!--<%= link_to 'New Post', new_post_path %>-->

</div>