<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title) %> | BRAIN_STEAM</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <%= image_tag "artificial-intelligence.png" %>&nbsp;<strong class="title is-5" id="app-name">BRAIN_STEAM</strong>
      </a>

      <div class="navbar-burger burger" data-target="navMenubd-example" onclick="openMenu();">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenubd-example" class="navbar-menu">
      <div class="navbar-start">
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="#">
              Trova corsi
            </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item " href="#">
                1
              </a>
              <a class="navbar-item " href="#">
                2
              </a>
              <a class="navbar-item " href="#">
                3
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item " href="#">
                4
              </a>
            </div>
          </div>

          <a class="navbar-item " href="#">
            <span class="bd-emoji"><%= fa_icon "graduation-cap" %></span>&nbsp;I miei corsi
          </a>
          <a class="navbar-item " href="#">
            <span class="bd-emoji"><%= fa_icon "hands-helping" %></span>&nbsp;Ripetizioni
          </a>
          <a class="navbar-item " href="#">
            <span class="bd-emoji"><%= fa_icon "user-graduate" %></span>&nbsp;Proposte di tesi
          </a>
        <% end %>

      </div>

      <div class="navbar-end">
        <% if user_signed_in? %>

          <!--icona notifiche-->
          <%= react_component 'NotificationsNavBar' %>



          <% if current_user.admin %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="#">
                Dashboard
              </a>
              <div class="navbar-dropdown ">
                <a class="navbar-item " href="<%= dashboard_path %>">
                  Dashboard
                </a>
                <a class="navbar-item " href="#">
                  Segnalazioni
                </a>
              </div>
            </div>
          <% end %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="#">
              Ciao <%= current_user.name %>!
            </a>

            <div class="navbar-dropdown ">
              <% if current_user.provider != 'facebook' then %>
                <a class="navbar-item " href="<%= edit_user_registration_path %>">
                  Modifica account
                </a>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% else %>
          <a class="navbar-item" href="/users/sign_up">
            <small class="is-hidden-mobile">Non hai ancora un account?</small>&nbsp;<u>Registrati!</u>
          </a>
        <% end %>

      </div>
    </div>
  </nav>




<%= yield %>

  <!-- mancavano questi, forse e' per questo che non comparivano gli avvisi di devise (comunque bisogna trovare un bel posto dove metterli)-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="se-pre-con"></div>

<script type="text/javascript">
    function openMenu() {

        var $navbarBurgers = document.querySelector('.navbar-burger')
        var target = $navbarBurgers.dataset.target;
        var $target = document.getElementById(target);
        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $navbarBurgers.classList.toggle('is-active');
        $target.classList.toggle('is-active');
    }
</script>




  <script type="text/javascript">
      $(window).load(loaded());

      function loaded() {
          $(".se-pre-con").fadeOut("slow");
      }
  </script>


</body>


</html>
