<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title) %> | BRAIN_STEAM</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



</head>

<body>


  <nav class="navbar" style="opacity: 1.0; height: 6%;">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <%= image_tag "artificial-intelligence.png" %>&nbsp;<strong class="title is-4 is-hidden-mobile" id="app-name">BRAIN_STEAM</strong>
      </a>

      <!--<a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
      </a>-->

      <!--<a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
      </a>-->

      <div class="navbar-burger burger" data-target="navMenubd-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenubd-example" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="#">
            Trova corsi
          </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="#">
              1
            </a>
            <a class="navbar-item " href="#">
              2
            </a>
            <a class="navbar-item " href="#">
              3
            </a>

            <hr class="navbar-divider">
            <a class="navbar-item " href="#">
              4
            </a>
          </div>
        </div>

        <a class="navbar-item " href="#">
          <span class="bd-emoji"><%= fa_icon "graduation-cap" %></span>&nbsp;I miei corsi
        </a>

      </div>

      <div class="navbar-end">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active" href="#">
                Dashboard
              </a>
              <div class="navbar-dropdown ">
                <a class="navbar-item " href="<%= dashboard_path %>">
                  Gestisci tutto
                </a>
                <a class="navbar-item " href="#">
                  Gestisci segnalazioni
                </a>
              </div>
            </div>
          <% end %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="#">
              Ciao <%= current_user.name %>!
            </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item " href="<%= edit_user_registration_path %>">
                Modifica account
              </a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% else %>
          <a class="navbar-item" href="/users/sign_up">
            <span class="bd-emoji"><%= fa_icon "user" %></span>&nbsp;Registrati!
          </a>
        <% end %>

      </div>
    </div>
  </nav>

  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
          // Get all "navbar-burger" elements
          var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any nav burgers
          if ($navbarBurgers.length > 0) {
              // Add a click event on each of them
              $navbarBurgers.forEach(function ($el) {
                  $el.addEventListener('click', function () {
                      // Get the target from the "data-target" attribute
                      var target = $el.dataset.target;
                      var $target = document.getElementById(target);
                      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                      $el.classList.toggle('is-active');
                      $target.classList.toggle('is-active');

                  });
              });
          }
      });
  </script>


<%= yield %>


</body>
</html>
